# pandas tutorial (Day-11)
This notebook explains........

# pip install pandas
# pip install numpy

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sadiq1\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\sadiq1\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sadiq1\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sadiq1\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sadiq1\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\sadiq1\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install numpy

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: numpy in c:\users\sadiq1\appdata\local\programs\python\python311\lib\site-packages (1.26.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# import librraies

In [3]:
import pandas as pd
import numpy as np

In [4]:
# object creation
s = pd.Series([1,3,5,np.nan,7,9])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    9.0
dtype: float64

In [5]:
dates = pd.date_range("20240101", periods=8)
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08'],
              dtype='datetime64[ns]', freq='D')

In [6]:
dates = pd.date_range("20240101", periods=6)
dates
df = pd.DataFrame(np.random.randn(6,5),index=dates,columns=list("ABCDE"))
df

                   A         B         C         D         E
2024-01-01  0.669886  0.364498  0.662801  0.432233 -0.203809
2024-01-02 -0.429506  0.688993  0.487049 -1.367373  0.114216
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065
2024-01-06 -0.095259  0.182420 -1.160638 -1.425029 -0.729846

# add dictionary

In [33]:
df2=pd.DataFrame(
    {
        "A": 1.0,
        "B" : pd.Timestamp("20230104") ,
        "C" : pd.Series(1, index=list(range(4)), dtype="float32"),
        "D" : np.array([3]*4,dtype="int32"),
        "E" : pd.Categorical(["girls","train", "test" , "girls"]) ,
        "F" : "females" ,
    }
)
df2
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [8]:
df.head(2)

                   A         B         C         D         E
2024-01-01  0.669886  0.364498  0.662801  0.432233 -0.203809
2024-01-02 -0.429506  0.688993  0.487049 -1.367373  0.114216

In [9]:
df.tail(3)

                   A         B         C         D         E
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065
2024-01-06 -0.095259  0.182420 -1.160638 -1.425029 -0.729846

In [10]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [11]:
df.index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.to_numpy()

array([[ 0.6698859 ,  0.36449827,  0.66280055,  0.43223279, -0.20380852],
       [-0.42950635,  0.68899347,  0.48704859, -1.36737308,  0.11421603],
       [ 0.85131332, -1.30552612, -0.23597536,  0.0365045 , -1.67376915],
       [-1.33873911, -1.04205102, -1.69753875, -0.61930676, -0.85352719],
       [-1.05017478,  0.48257074,  0.27598529, -0.18459958,  0.04906495],
       [-0.09525863,  0.18241958, -1.16063839, -1.42502898, -0.72984648]])

# convert data into array

In [13]:
df2.to_numpy()

array([[1.0, Timestamp('2023-01-04 00:00:00'), 1.0, 3, 'girls',
        'females'],
       [1.0, Timestamp('2023-01-04 00:00:00'), 1.0, 3, 'train',
        'females'],
       [1.0, Timestamp('2023-01-04 00:00:00'), 1.0, 3, 'test', 'females'],
       [1.0, Timestamp('2023-01-04 00:00:00'), 1.0, 3, 'girls',
        'females']], dtype=object)

In [14]:
df.describe()

              A         B         C         D         E
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean  -0.232080 -0.104849 -0.278053 -0.521262 -0.549612
std    0.887576  0.848296  0.956369  0.758407  0.679300
min   -1.338739 -1.305526 -1.697539 -1.425029 -1.673769
25%   -0.895008 -0.735933 -0.929473 -1.180356 -0.822607
50%   -0.262382  0.273459  0.020005 -0.401953 -0.466828
75%    0.478600  0.453053  0.434283 -0.018772 -0.014153
max    0.851313  0.688993  0.662801  0.432233  0.114216

# Transport data

In [15]:
df.T

   2024-01-01  2024-01-02  2024-01-03  2024-01-04  2024-01-05  2024-01-06
A    0.669886   -0.429506    0.851313   -1.338739   -1.050175   -0.095259
B    0.364498    0.688993   -1.305526   -1.042051    0.482571    0.182420
C    0.662801    0.487049   -0.235975   -1.697539    0.275985   -1.160638
D    0.432233   -1.367373    0.036505   -0.619307   -0.184600   -1.425029
E   -0.203809    0.114216   -1.673769   -0.853527    0.049065   -0.729846

In [16]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D         E
2024-01-01  0.669886  0.364498  0.662801  0.432233 -0.203809
2024-01-02 -0.429506  0.688993  0.487049 -1.367373  0.114216
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065
2024-01-06 -0.095259  0.182420 -1.160638 -1.425029 -0.729846

In [17]:
df.sort_values(by="B",ascending=True)

                   A         B         C         D         E
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-06 -0.095259  0.182420 -1.160638 -1.425029 -0.729846
2024-01-01  0.669886  0.364498  0.662801  0.432233 -0.203809
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065
2024-01-02 -0.429506  0.688993  0.487049 -1.367373  0.114216

In [18]:
df["B"]

2024-01-01    0.364498
2024-01-02    0.688993
2024-01-03   -1.305526
2024-01-04   -1.042051
2024-01-05    0.482571
2024-01-06    0.182420
Freq: D, Name: B, dtype: float64

In [19]:
df[0:]

                   A         B         C         D         E
2024-01-01  0.669886  0.364498  0.662801  0.432233 -0.203809
2024-01-02 -0.429506  0.688993  0.487049 -1.367373  0.114216
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065
2024-01-06 -0.095259  0.182420 -1.160638 -1.425029 -0.729846

# Row wise selection

In [20]:
df[0:6]

                   A         B         C         D         E
2024-01-01  0.669886  0.364498  0.662801  0.432233 -0.203809
2024-01-02 -0.429506  0.688993  0.487049 -1.367373  0.114216
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065
2024-01-06 -0.095259  0.182420 -1.160638 -1.425029 -0.729846

In [21]:
# coloumns wise selections
df.loc[dates[5]]

A   -0.095259
B    0.182420
C   -1.160638
D   -1.425029
E   -0.729846
Name: 2024-01-06 00:00:00, dtype: float64

In [22]:
df.loc[: , ["A","B"]]

                   A         B
2024-01-01  0.669886  0.364498
2024-01-02 -0.429506  0.688993
2024-01-03  0.851313 -1.305526
2024-01-04 -1.338739 -1.042051
2024-01-05 -1.050175  0.482571
2024-01-06 -0.095259  0.182420

In [23]:
df.loc[["20240102","20240104"],["A" , "B"]]

                   A         B
2024-01-02 -0.429506  0.688993
2024-01-04 -1.338739 -1.042051

In [24]:
df.loc["20240102" : "20240104",["A" , "B"]]

                   A         B
2024-01-02 -0.429506  0.688993
2024-01-03  0.851313 -1.305526
2024-01-04 -1.338739 -1.042051

In [25]:
df.loc["20240103",["A","B","C"]]

A    0.851313
B   -1.305526
C   -0.235975
Name: 2024-01-03 00:00:00, dtype: float64

In [26]:
df.at[dates[5],"C"]

-1.1606383909847926

In [27]:
df.iloc[2:6]

                   A         B         C         D         E
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065
2024-01-06 -0.095259  0.182420 -1.160638 -1.425029 -0.729846

In [28]:
df.iloc[0:4 , 0:4]

                   A         B         C         D
2024-01-01  0.669886  0.364498  0.662801  0.432233
2024-01-02 -0.429506  0.688993  0.487049 -1.367373
2024-01-03  0.851313 -1.305526 -0.235975  0.036505
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307

In [29]:
df.iloc[1:5, :]

                   A         B         C         D         E
2024-01-02 -0.429506  0.688993  0.487049 -1.367373  0.114216
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065

#  boleans operator

In [30]:
df[df["A"] > 0]

                   A         B         C         D         E
2024-01-01  0.669886  0.364498  0.662801  0.432233 -0.203809
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769

In [31]:
df[df>0]

                   A         B         C         D         E
2024-01-01  0.669886  0.364498  0.662801  0.432233       NaN
2024-01-02       NaN  0.688993  0.487049       NaN  0.114216
2024-01-03  0.851313       NaN       NaN  0.036505       NaN
2024-01-04       NaN       NaN       NaN       NaN       NaN
2024-01-05       NaN  0.482571  0.275985       NaN  0.049065
2024-01-06       NaN  0.182420       NaN       NaN       NaN

In [32]:
df

                   A         B         C         D         E
2024-01-01  0.669886  0.364498  0.662801  0.432233 -0.203809
2024-01-02 -0.429506  0.688993  0.487049 -1.367373  0.114216
2024-01-03  0.851313 -1.305526 -0.235975  0.036505 -1.673769
2024-01-04 -1.338739 -1.042051 -1.697539 -0.619307 -0.853527
2024-01-05 -1.050175  0.482571  0.275985 -0.184600  0.049065
2024-01-06 -0.095259  0.182420 -1.160638 -1.425029 -0.729846